.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.membres {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 10px;
}

.casteller {
    width: 100px;
    padding: 10px;
    border: 1px solid #000000;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.casteller:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.plantilla {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #000000;
    padding: 10px;
}

.guardar {
    margin-bottom: 30px;
}