.search-bar-container {
    position: relative;
    margin-bottom: 20px;
}

.search-bar {
    width: 30%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ccc;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container thead {
    background-color: #f2f2f2;
}

.table-container th, .table-container td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table-container th {
    background-color: #727272;
    color: white;
    letter-spacing: 0.1em;
}

.table-container th:hover {
    cursor: pointer;
    background-color: #555555;
    color: white;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    cursor: pointer;
    background-color: #ebe9e9;
}

.table-container tbody tr {
    transition: background-color 0.3s ease; 
}

.table-container th, .table-container td {
    border-bottom: 1px solid #ddd;
}

.action-icon {
    font-size: 1.5rem;
    color: #7c7c7c;
    cursor: pointer;
    padding: 0 5px 0 5px;
}

.action-icon:hover {
    color: #1a1a1a;
}

.table-container th.active {
    background-color: #444444;
    color: #ffffff;
}
  