.tronc {
    border-collapse: separate;
    border-spacing: 10px;
}

.cela {
    width: 125px;
    height: 50px; /* Canvia de 25px a 50px */
    min-width: 125px; /* Afegeix per assegurar mida mínima */
    min-height: 50px; /* Afegeix per assegurar mida mínima */
    background-color: var(--secondary-main);
    border: 1px solid var(--primary-main);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    padding: 0; /* Elimina qualsevol padding per defecte */
    box-sizing: border-box; /* Assegura que el border no afecti les dimensions */
    overflow: hidden; /* Evita que el contingut surti de la cel·la */
    word-wrap: break-word; /* Permet que el text es trenqui si és massa llarg */
}

.cela:hover {
    background-color: var(--primary-main);
    color: var(--secondary-main);
    cursor: pointer;
}

.agulla {
    background-color: #d9d9d9;
}

.baix {
    border: 2px solid var(--primary-main);
}
