.tronc {
    border-collapse: separate;
    border-spacing: 10px;
}

.cela {
    width: 100px;
    height: 40px;
    background-color: var(--secondary-main);
    border: 1px solid var(--primary-main);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.cela:hover {
    background-color: var(--primary-main);
    color: var(--secondary-main);
    cursor: pointer;
}

.agulla {
    background-color: #d9d9d9;
}

.baix {
    border: 2px solid var(--primary-main);
}